<link rel="stylesheet" href="/public/css/home.css">

<header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/miembros">Miembros</a></li>
            <li><a href="/trabajos">Trabajos</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
    <div class="hero-content">
        <h1>Portfolio</h1>
        <p>Especialistas en desarrollo web, diseño y SEO para llevar tus proyectos al siguiente nivel.</p>
    </div>
</section>

<section class="team">
    <h2>Nuestro Equipo</h2>
    <div class="team-cards">
        {{#each miembros}}
    <div class="member-card">
        <img src="/public/images/{{this.imagen}}" alt="Foto de {{this.nombre}}" class="member-img">
        <h3>{{this.nombre}} {{this.apellidos}}</h3>
        <p> {{this.titulacion}}</p>
    </div>
    {{/each}}
    </div>
</section>

<section class="projects">
    <h2>Proyectos Realizados</h2>
    <div class="projects-cards">
        {{#each trabajos}}
        <a href="/trabajos" class="project-card">
            <img src="/public/images/{{this.imagen}}" alt="{{this.titulo}}">
            <div class="card-text">
                <h3>{{this.titulo}}</h3>
                <p>{{this.descripcion}}</p>
            </div>
        </a>
        {{/each}}
    </div>
</section>
