<link rel="stylesheet" href="/public/css/miembros.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>


<h1>{{titulo}}</h1>
<div class="card-container">
    {{#each miembros}}
    <div class="card">
        <!-- Encabezado con imagen -->
        <div class="card-header">
            <img src="/public/images/{{this.imagen}}" alt="Foto de {{this.nombre}}" class="profile-img">
        </div>

        <!-- Cuerpo de la tarjeta -->
        <div class="card-body">
            <h2>{{this.nombre}} {{this.apellidos}}</h2>
            <h3>{{this.titulacion}}</h3>
            <p>{{this.proyectos_personales}}</p>
        </div>

        <!-- Footer con enlaces generales -->
        <div class="card-footer">
            <a href="{{this.contacto.github}}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
            <a href="{{this.contacto.linkedin}}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
        </div>

        <!-- Detalles de tecnologías e idiomas -->
        <div class="card-details">
            <h4>Tecnologías:</h4>
            <ul>
                {{#each this.tecnologias}}
                <li>{{this.nombre}} (Nivel: {{this.nivel}})</li>
                {{/each}}
            </ul>

            <h4>Idiomas:</h4>
            <ul>
                {{#each this.idiomas}}
                <li>{{this.nombre}} (Nivel: {{this.nivel}})</li>
                {{/each}}
            </ul>
        </div>

        <!-- Redes sociales dinámicas -->
        <div class="card-social-links">
            <h4>Redes sociales:</h4>
            <ul>
                {{#each this.redesSociales}}
                <li>
                    <a href="{{this.url}}" target="_blank" title="{{this.nombre}}">
                        <i class="{{this.icono}}"></i> {{this.nombre}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}
</div>
