<h1>Miembros del Equipo</h1>
<ul>
    {{#each miembros}}
    <li>
        <strong>{{this.nombre}} {{this.apellidos}}</strong>
        <p>Titulación: {{this.titulacion}}</p>
        <p>Proyectos personales: {{this.proyectos_personales}}</p>

        <h4>Tecnologías:</h4>
        <ul>
            {{#each this.tecnologias}}
            <li>{{this.nombre}} (Nivel: {{this.nivel}})</li>
            {{/each}}
        </ul>

        <h4>Idiomas:</h4>
        <ul>
            {{#each this.idiomas}}
            <li>{{this.nombre}} (Nivel: {{this.nivel}})</li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>
